@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@salesforce.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@salesforce.com</a>
</address>
